.dark-mode {
  position: relative;
  background-color: #000;
  color: #ffffff;
}

/* ---------- Copyright -------- */

.copyright{

  text-align: center;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;

  }
  
  .copyright p{
  
  color: #8a8a8a;
  
  }
  .copyright h3{
  color:#fff;
  margin-bottom: 20px;
  }
  
  ul{
  list-style-type: none;
  }
  
  
  .container-copyright p{
  
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  .copyright-small:last-child{
  
  color: gray; 
  font-size: 11px;
  
  }
  
  /* .line-title{
  
  background: #fff!important;
  border: 2px solid #fff!important;
  width: 100% !important;
  z-index: 999;
  } */
  