.dark-mode {
  position: relative;
  background-color: var(--black);
  color: var(--white);
}

/* ---------- Copyright -------- */

.copyright {
  text-align: center;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  background: var(--black);
  color: #8a8a8a;
  font-size: var(--font-size-sm);
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;
}

.copyright p {
  color: #8a8a8a;
}

.copyright h3 {
  color: var(--white);
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.container-copyright p {
  font-size: var(--font-size-sm);
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright-small:last-child {
  color: gray;
  font-size: var(--font-size-xs);
}