.home-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: calc( 100vh + 50px) !important;

}

.home-profile{
  text-align: center;
  justify-content: center;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoomIn 1s ease-in-out;
}

.hero-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.hero-section {
  display: flex;
  align-items: center;

  gap: 2rem;
  padding: 1rem;
  margin: 0 auto;
  z-index: 1;
}

.hero-text {
  flex: 1;
  text-align: center;
}

.hero-text h1 {
  font-family: 'Big Shoulders Stencil Display', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  color: #fff;
  animation: fadeInDown 1s ease-in-out;
}

.hero-text p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #eee;
  animation: fadeInDown 1s ease-in-out 0.2s;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  animation: fadeInUp 1s ease-in-out 0.4s;
}

.social-links a .icon-profile{
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s ease;
  align-items: center;
}


.social-links a {
  color: #fff;
  font-size: 3rem;
  transition: color 0.3s ease;
  align-items: center;
}


.social-links a .icon-profile:hover {
  color: #007bff;
}



@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}
