.dark-mode {
    position: relative;
    height: 50vh;
    background-color: #131921;
    color: #ffffff;
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-column {
    flex: 1;
    padding: 20px;
  }
  
  .footer-column input[type="text"],
  .footer-column input[type="email"],
  .footer-column textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .footer-column input[type="submit"] {
    background-color: #131921;
    color: #ffffff;
    border: none;
    padding: 10px;
  }
  